<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <wffm.executeSaveActions>
        <processor type="Sitecore.Support.Forms.Mvc.Pipelines.ExecuteSaveActions.SaveDataAndExecuteSaveActions,Sitecore.Support.67853.162059" patch:instead="*[@type='Sitecore.Forms.Mvc.Pipelines.ExecuteSaveActions.SaveDataAndExecuteSaveActions,Sitecore.Forms.Mvc']">
          <param name="formDataHandler" ref="/sitecore/wffm/supportFormDataHandler" />
          <param name="analyticsTracker" ref="/sitecore/wffm/analytics/analyticsTracker" />
        </processor>
      </wffm.executeSaveActions>
    </pipelines>

    <settings>
      <!-- POSTED FILES LIMIT
			   Sets max size of posted files  -->
      <setting name="WFM.PostedFilesLimit" value="1024KB" patch:after="*[@name='WFM.InitialValuesCacheSize']" />
    </settings>

    <wffm>
      <supportFormDataHandler type="Sitecore.Support.Forms.Core.Handlers.FormDataHandler, Sitecore.Support.67853.162059" singleInstance="false">
        <param name="actionExecutor" ref="/sitecore/wffm/wffmActionExecutor" />
        <param name="logger" ref="/sitecore/wffm/logger" />
        <param name="sitecoreContextWrapper" ref="/sitecore/wffm/sitecoreContextWrapper" />
        <param name="settings" ref="/sitecore/wffm/settings" />
        <param name="analyticsTracker" ref="/sitecore/wffm/analytics/analyticsTracker" />
        <param name="itemRepository" ref="/sitecore/wffm/itemRepository" />
        <param name="eventManagerWrapper" ref="/sitecore/wffm/eventManagerWrapper" />
        <param name="corePipelineWrapper" ref="/sitecore/wffm/corePipelineWrapper" />
        <param name="webUtil" ref="/sitecore/wffm/webUtil" />
        <param name="formContext" ref="/sitecore/wffm/formContext" />
      </supportFormDataHandler>
    </wffm>
  </sitecore>
</configuration>